@model IEnumerable<Fall2024_Assignment3_wcmorrow2.Models.MovieActor>

@{
    ViewData["Title"] = "Index";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="m-0 font-weight-bold text-primary">
            <h1 class="m-0 font-weight-bold text-primary">Starring</h1>
            <h6 class="m-0 font-weight-light text-primary">
                <a asp-action="Create">Create New</a>
            </h6>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Actor: activate to sort column descending" style="width: 100px;">@Html.DisplayNameFor(model => model.Actor)</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Movie: activate to sort column ascending" style="width: 100px;">@Html.DisplayNameFor(model => model.Movie)</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Actions" style="width: 70px;">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="odd">
                                        <td class="sorting_1">
                                            @Html.DisplayFor(modelItem => item.Actor.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Movie.Title)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <br />
                                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> <br />
                                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
