@using Newtonsoft.Json
@model Fall2024_Assignment3_wcmorrow2.Models.MovieDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Value.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Value.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Value.IMDBlink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Value.IMDBlink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value.Media)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Value.Media != null)
            {
                // Embed photo in page; good for security but bad for speed
                var base64 = Convert.ToBase64String(Model.Value.Media);
                var imgSrc = string.Format("data:image/jpg;base64,{0}", base64);
                <img src="@imgSrc" height="100" width="100" style="border-radius:3%" />
            }
        </dd>
    </dl>
    <hr />
    <h4>Actors</h4>
    <ul>
        @foreach (var actor in Model.Actors)
        {
            <li>
                @actor.Name |
                <a asp-action="Details" asp-controller="Actors" asp-route-id="@actor.Id">Details</a>
            </li>
        }
    </ul>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>Review</th>
                <th>Sentiment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var review in Model.Value.Reviews)
            {
                var tweetData = JsonConvert.DeserializeObject<dynamic>(review.Content);

                <tr>
                    <td>
                        <p><strong>@tweetData.user.name (@tweetData.user.screen_name)</strong></p>
                        <p>@tweetData.text</p>
                        <p><small>Created at: @tweetData.created_at</small></p>
                        <p><small>Followers: @tweetData.user.followers_count</small></p>
                        <p><small>Retweets: @tweetData.retweet_count | Likes: @tweetData.favorite_count</small></p>
                        <p><small>Hashtags: @string.Join(", ", tweetData.hashtags)</small></p>
                    </td>
                    <td>@review.SentimentScore</td>
                    <td>
                        <form asp-action="DeleteReview" method="post">
                            <input type="hidden" name="id" value="@review.Id" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="GenerateReview" asp-route-id="@Model.Value?.Id" class="btn btn-primary">New Review</a>
    <hr />

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Value?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>