@model IEnumerable<Fall2024_Assignment3_wcmorrow2.Models.Actor>

@{
    ViewData["Title"] = "Index";
}

<h1>Actors</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                Age
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IMDBlink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Media)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @{
                    var birthDate = item.DoB;
                    var deathDate = item.DoD;
                    var age = deathDate.HasValue
                    ? deathDate.Value.Year - birthDate.Year - (deathDate.Value.DayOfYear < birthDate.DayOfYear ? 1 : 0)
                    : DateTime.Now.Year - birthDate.Year - (DateTime.Now.DayOfYear < birthDate.DayOfYear ? 1 : 0);
                }
                @age
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IMDBlink)
            </td>
            <td>
                    @if (item.Media != null)
                    {
                        // Embed photo in page; good for security but bad for speed
                        var base64 = Convert.ToBase64String(item.Media);
                        var imgSrc = string.Format("data:image/jpg;base64,{0}", base64);
                        <img src="@imgSrc" height="100" width="100" style="border-radius:50%" />

                    }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
